@import "tailwindcss";

:root {
  --background: #141414;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Brand Colors */
  --color-brand-primary: #ffffff;
  --color-brand-secondary: #ffe600;
  --color-brand-accent: #ec2c8a;
  --color-brand-info: #1890ff;
  --color-brand-success: #54d62c;
  --color-brand-warning: #ffc107;
  --color-brand-error: #ff4842;

  /* Text Colors */
  --color-text-heading: #fff200;
  --color-text-secondary: #3dffb3;

  /* Grey Scale */
  --color-grey-100: #f9fafb;
  --color-grey-200: #f4f6f8;
  --color-grey-300: #dfe3e8;
  --color-grey-400: #c4cdd5;
  --color-grey-500: #919eab;
  --color-grey-600: #637381;
  --color-grey-700: #454f5b;
  --color-grey-800: #212b36;
  --color-grey-900: #161c24;

  /* Custom Backgrounds */
  --color-bg-deep: #0c1222;
  --color-bg-dark: #111827;
  --color-bg-card: #0f172a;

  /* Font */
  --font-inter: "Inter", sans-serif;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}


/* Hide scrollbar but keep scrolling functionality */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

.border-border {
  border-radius: 14px;
  border: 0.5px solid rgba(255, 229, 1, 0.8);
}
.border-border-3 {
  border-radius: 14px;
  border: 0.5px solid rgba(255, 229, 1, 0.6);
}

.border-border-2 {
  border-radius: 14px;
  border: 0.5px solid rgba(58, 254, 178, 0.8);
}